<% include head.ejs %>
<% include header.ejs %>


<body>
    <div class="container text-center">
        <img src="/img/stop.jpg" class="img-fluid pt-5">
        <h2>Tekkis viga!</h2>
        <p class="text-center pt-2">Palun suundu tagasi
            <a href="/">esilehele</a> <br/>või kasuta
            <a data-toggle="modal" href="#search" title="Search">
                otsingut</a>.</p>
    </div>
    <% include menu.ejs %>
    <% include search.ejs %>

</body>

</html>