<% include head.ejs %>
<% include header.ejs %>

<body>
    <h4 class="mx-auto">Projekti / sündmuse lisamine</h4>
    <form class="px-3 pt-2 pb-3" action="/inserted" method="POST">
        <div class="form-group">
            <label for="aine-l"><b>Aine:</b>
                <font style="color: red;">*</font>
            </label>
            <select class="form-control" id="aine" name="aine">
                <option selected>Vali aine...</option>
                <option>Kasutajaliidese disain (HKI5088.HK)</option>
                <option>Arvutivõrgud ja andmeside (HKI5070.HK)</option>
                <option>Erialane inglise keel (HKI5082.HK)</option>
                <option>ELU - Erialasid Lõimiv Uuendus (YID6001.YM)</option>
                <option>Puudub</option>
            </select>
        </div>
        <div class="form-group">
            <label for="tyyp"><b>Tüüp:</b>
                <font style="color: red;">*</font>
            </label>
            <select class="form-control" id="tyyp" name="tyyp" required placeholder="vali tüüp">
                <option selected>Vali tüüp...</option>
                <option>Projekt</option>
                <option>Kodutöö</option>
                <option>Arvestus</option>
                <option>Eksam</option>
                <option>Muu sündmus</option>
            </select>
        </div>
        <div class="form-group">
            <label for="pealkiri"><b>Pealkiri:</b></label>
            <input type="text" class="form-control" id="pealkiri" name="pealkiri" placeholder="Sisesta pealkiri...">
        </div>
        <div class="form-group">
            <label for="kirjeldus"><b>Kirjeldus</b></label>
            <textarea class="form-control" id="kirjeldus" name="kirjeldus" rows="3" placeholder="Sisesta kirjeldus..."></textarea>
        </div>
        <div class="form-group">
            <label for="tahtaeg"><b>Tähtaeg:</b>
                <font style="color: red;">*</font>
            </label>
            <input type="date" class="form-control" id="tahtaeg" name="tahtaeg" required>
        </div>
        <div id="radio-group">
            <label for="prioriteet-l"><b>Vali prioriteet:</b>
                <font style="color: red;">*</font>
                <br/>1- madal, 3 -keskmine, 5 - väga kõrge</label>
            <br>
            <div class="form-check-inline">
                <input class="form-check-input" type="radio" name="prioriteet" id="prioriteet1" value="1">
                <label class="form-check-label" for="prioriteet-l">
                    1
                </label>
            </div>
            <div class="form-check-inline">
                <input class="form-check-input" type="radio" name="prioriteet" id="prioriteet2" value="2">
                <label class="form-check-label" for="prioriteet-l">
                    2
                </label>
            </div>
            <div class="form-check-inline">
                <input class="form-check-input" type="radio" name="prioriteet" id="prioriteet3" value="3">
                <label class="form-check-label" for="prioriteet-l">
                    3
                </label>
            </div>
            <div class="form-check-inline">
                <input class="form-check-input" type="radio" name="prioriteet" id="prioriteet4" value="4">
                <label class="form-check-label" for="prioriteet-l">
                    4
                </label>
            </div>
            <div class="form-check-inline">
                <input class="form-check-input" type="radio" name="prioriteet" id="prioriteet5" value="5">
                <label class="form-check-label" for="prioriteet-l">
                    5
                </label>
            </div>
        </div>
        <label class="pt-3" for="meeldetuletus-l"><b>Meeldetuletus:</b></label>
        <input id="meeldetuletus" name="meeldetuletus"  type="checkbox" data-toggle="toggle" data-onstyle="info" data-offstyle="secondary" checked value="true">


        <div class="row ml-0 mr-0">
            <div class="col p-1">
                <a class="btn btn-block btn-danger" href="/" role="button">
                    <span class="fas fa-times"></span>
                </a>
                <!-- <button type="button" class="btn btn-block btn-outline-info">kalender</button> -->
            </div>
            <div class="col-8 p-1">
                
                <button type="submit" id="sendBtn" name="sendBtn" class="btn btn-block btn-success">
                    <span class="fas fa-check"></span>
                </button>
                <!-- <button type="button" class="btn btn-block btn-info">üldvaade</button> -->
            </div>
        </div>
    </form>

    <script>
        var socket = io();
        var pealkiri = document.getElementById("pealkiri");
        var sendBtn = document.getElementById("sendBtn");
        sendBtn.addEventListener("click", function(e) {
        socket.emit('post', pealkiri);
        pealkiri = "";
        });
    </script>

    <!-- ####################################################################### -->
    
    <% include menu.ejs %>
    <% include search.ejs %>


</body>

</html>