<div class="row ml-0 mr-0 fixed-bottom">
    <div class="col p-0">
        <a class="btn btn-block btn-info" href="/" role="button">üldvaade</a>
    </div>
    <div class="col p-0">
        <a class="btn btn-block btn-outline-info" href="/calendar" role="button">kalender</a>
    </div>
</div>