<% include head.ejs %>
<% include header.ejs %>

<body>
    <div class="calcontainer">
        <div class="calendar">
            <div class="front">
                <div class="current-date">
                    <h1>Detsember</h1>
                </div>

                <div class="current-month">
                    <ul class="week-days">
                        <li>E</li>
                        <li>T</li>
                        <li>K</li>
                        <li>N</li>
                        <li>R</li>
                        <li>L</li>
                        <li>P</li>
                    </ul>

                    <div class="weeks">
                        <div class="first">
                            <span>31</span>
                            <span class="last-month">27</span>
                            <span class="last-month">28</span>
                            <span class="last-month">29</span>
                            <span class="last-month">30</span>
                            <span>01</span>
                            <span>02</span>
                        </div>

                        <div class="second">
                            <span>03</span>
                            <span>04</span>
                            <span>05</span>
                            <span>06</span>
                            <span>07</span>
                            <span class="active event">08</span>
                            <span>09</span>
                        </div>

                        <div class="third">
                            <span>10</span>
                            <span>11</span>
                            <span>12</span>
                            <span class="event">13</span>
                            <span>14</span>
                            <span>15</span>
                            <span>16</span>
                        </div>

                        <div class="fourth">
                            <span>17</span>
                            <span>18</span>
                            <span>19</span>
                            <span class="event">20</span>
                            <span class="event">21</span>
                            <span>22</span>
                            <span>23</span>
                        </div>

                        <div class="fifth">
                            <span>24</span>
                            <span>25</span>
                            <span>26</span>
                            <span>27</span>
                            <span>28</span>
                            <span>29</span>
                            <span>30</span>
                        </div>

                    </div>
                </div>
            </div>



        </div>
    </div>


    <div class="row ml-0 mr-0 fixed-bottom">
        <div class="col p-0">
            <a class="btn btn-block btn-outline-info" href="/" role="button">üldvaade</a>
            <!-- <button type="button" class="btn btn-block btn-info">üldvaade</button> -->
        </div>
        <div class="col p-0">
            <a class="btn btn-block btn-info" href="/calendar" role="button">kalender</a>
            <!-- <button type="button" class="btn btn-block btn-outline-info">kalender</button> -->
        </div>
    </div>


    </div>

    <!-- ####################################################################### -->

    <% include menu.ejs %>
    <% include search.ejs %>

</body>

</html>