<% include head-redirect.ejs %>
<% include header.ejs %>

<body>
    <div class="container text-center">
        <img src="http://icons.iconarchive.com/icons/webalys/kameleon.pics/256/Party-Poppers-icon.png" class="img-fluid pt-5 pb-3" width="100px">
        <h2>Tehtud!</h2>
        <h3>Oled tubli! :)</h3>
        <p class="text-center pt-2">Suundun avalehele...<br/>Kui suunamine ei toimu automaatselt<br/> vajuta 
            <a href="/">siia</a>.</p>
    </div>
    
    <% include menu.ejs %>
    <% include search.ejs %>

</body>

</html>