<% include head-redirect.ejs %>
<% include header.ejs %>

<body>
    <div class="container text-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9mQD8NQ-P0rZ6paw7qz5C4dHWcOTgc3iXsJFM4-vSYKIRT9if" class="img-fluid pt-5" width="100px">
        <h2>Kustutatud!</h2>
        <p class="text-center pt-2">Suundun avalehele...<br/>Kui suunamine ei toimu automaatselt vajuta 
            <a href="/">siia</a>.</p>
    </div>
    
    <% include menu.ejs %>
    <% include search.ejs %>

</body>

</html>