<header class="sticky-top">
    <div class="page-wrapper">
        <div class="d-flex justify-content-between bg-info">

            <a class="btn btn-lg btn-info" data-toggle="modal" href="#menu" role="button">
                <img src="img/hamburger_icon.png" height="30" alt="Menüü">
            </a>
            <a class="btn btn-lg btn-info" role="button" href="/"> Ajaplaneerija </a>
            <a class="btn btn-lg btn-info btn-icon" role="button" data-toggle="modal" href="#search" title="Search">
                <img src="img/search_icon.png" height="30" alt="Otsi">
            </a>
        </div>
</header>