<% include head-redirect.ejs %>
<% include header.ejs %>

<body>
    <div class="container text-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvNzw9Y1pupY6Pi83evc5lI88w2IP97tqAEH-xd-j1OjbUPYR0Fg" class="img-fluid pt-5" width="100px">
        <h2>Sistestatud!</h2>
        <p class="text-center pt-2">Suundun avalehele...<br/>Kui suunamine ei toimu automaatselt vajuta 
            <a href="/">siia</a>.</p>
    </div>

    <% include menu.ejs %>
    <% include search.ejs %>

</body>

</html>