<div id="menu" class="modal left fade" tabindex="-5" role="dialog" aria-labelledby="Menüü" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="media">
                    <a href="profile.ejs">
                        <img class="align-self-end mr-3" src="/img/profile_icon.png" height="70px" alt="Profile image">
                    </a>
                    <div class="media-body pt-4">
                        <a href="profile.html">
                            <h3 class="text-center align-text-bottom">Karu Ants</h3>
                        </a>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="btn-group-vertical btn-block p-0" role="group" aria-label="Menüü">
                <a class="btn btn-lg btn-outline-info" role="button" href="add">Lisa projekt / sündmus</a>
                <a class="btn btn-lg btn-outline-info" role="button" href="/">Projektid / sündmused</a>
                <a class="btn btn-lg btn-outline-info" role="button" href="/arhiiv">Arhiiv</a>
                <a class="btn btn-lg btn-outline-info" role="button" href="/ained">Õppeained</a>

            </div>
            <div class="btn-group-vertical btn-block p-0" role="group" aria-label="Menüü">
                <a class="btn btn-lg btn-outline-info" role="button" href="/profile">Profiil</a>
                <a class="btn btn-lg btn-outline-info" role="button" href="/info">Info ja abi</a>
                <a class="btn btn-lg btn-outline-info" role="button" href="#">Logi välja</a>
            </div>
        </div>
    </div>
</div>