<div id="search" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- <div class="modal-header"> -->
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
            <!-- </div> -->
            <span class="align-middle">
                <form class="input-group mb-3 p-2" action="/search" method="POST">
                    
                        <input name="search" id="search" type="text" class="form-control  align-middle" placeholder="Otsi" aria-label="Otsi" aria-describedby="button-addon2">
                        <div class="input-group-append  align-middle">
                            <button class="btn btn-outline-secondary" type="submit"  id="button-addon2">Otsi</button>
                        </div>
                    
                </form>
            </span>
        </div>
    </div>
</div>